{% extends "base.html" %}

{% block content %}
    <h1>Редактировать персонажа</h1>
    <div class="character-form">
        <form class='character-form' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.name.label_tag }} {{ form.name }}
            <label for="{{ form.default_avatar.auto_id }}">Стандартный аватар:</label>
            <select id="{{ form.default_avatar.auto_id }}" name="{{ form.default_avatar.name }}">
                {% for value, display in form.default_avatar.field.choices %}
                    <option value="{{ value }}"
                            {% if form.default_avatar.value == value %}selected{% endif %}>{{ display }}</option>
                {% endfor %}
            </select>
            <label for="{{ form.avatar.auto_id }}">Или загрузите собственный:</label>
            {{ form.avatar }}
            <img id="avatar-preview" src="" alt="Ваш аватар" style="width: 100px; height: 100px;">
            {{ form.level.label_tag }} {{ form.level }}
            {{ form.experience.label_tag }} {{ form.experience }}
            <button type="submit">Обновить персонажа</button>
        </form>
    </div>
{% endblock %}