{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block navbar %}
    <button onclick="showLoginForm()">Войти</button>
    <a href="/register">Зарегистрироваться</a>
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в Gamification Project!</h1>
    <p>Это веб-приложение, разработанное для управления процессом обучения в образовательных учреждениях. Оно
        предоставляет интерфейс для преподавателей и студентов, позволяя им взаимодействовать с заданиями, курсами и
        другими аспектами учебного процесса. Веб-приложение было разработано с использованием Django templates для
        создания пользовательского интерфейса и базы данных для хранения информации о курсах, заданиях, студентах и
        преподавателях. Присоединяйтесь к нам и начните свое образовательное путешествие уже сегодня!</p>
{% endblock %}